<!-- Navigation -->
<nav class="navbar navbar-expand-md py-0 .navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- Modules tab -->
      <li class="nav-item py-2{% if page.url == '/modules/' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/modules/">Modules</a>
      </li>

      <!-- Learning tab -->
      <li class="nav-item py-2{% if page.url contains '/modules/learning/' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/modules/learning/info/">Learning</a>
      </li>

      <!-- Resources tab -->
      <li class="nav-item py-2{% if page.url contains '/modules/resources/' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/modules/resources/info/">Resources</a>
      </li>

      <!-- Bibliography tab -->
      <li class="nav-item py-2{% if page.url contains '/modules/bibliography/' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/modules/bibliography/info/">Bibliography</a>
      </li>

      <!-- Contact tab -->
      <li class="nav-item py-2{% if page.url contains '/modules/contact/' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/modules/contact/info/">Contact</a>
      </li>

    </ul>
  </div>
</nav>

