<!-- Navigation -->
<nav class="navbar navbar-expand-md py-0 .navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{{site.baseurl}}/"><i class="fa fa-home"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for module in site.data.course.modules %}
        {% assign first_post = site.categories[module]|reverse|first %}
        <li class="nav-item py-2{% if page.categories[1] == module %} active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}{{ first_post.url }}">
            {{ module }}
          </a>
        </li>
      {% endfor %}
      <li class="nav-item py-2{% if page.url == '/learning/' %} active{% endif %}">
        <a class="nav-link" href="https://lulischmader.github.io/The-Kichwa-Project/modules/learning/info/">Learning</a>
      </li>
      <li class="nav-item py-2{% if page.url == '/resources/' %} active{% endif %}">
        <a class="nav-link" href="https://lulischmader.github.io/The-Kichwa-Project/modules/resources/info/">Resources</a>
      </li>
      <li class="nav-item py-2{% if page.url == '/bibliography/' %} active{% endif %}">
        <a class="nav-link" href="https://lulischmader.github.io/The-Kichwa-Project/modules/bibliography/info/">Bibliography</a>
      </li>
      <li class="nav-item py-2{% if page.url == '/contact/' %} active{% endif %}">
        <a class="nav-link" href="https://lulischmader.github.io/The-Kichwa-Project/modules/contact/info/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper-base.min.js" integrity="sha384-2GNsBFOS8/i29pVCKnYiK1ymhnmgsuKxJsbdc7I0e/XEXivV7smEDb2h46lJSVKu" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-zIpF+12iruV7wPzZ+uV7d05X9aI51ySlULz+ycuL7GOJ5NY5B6O5HrQf1A20CnXe" crossorigin="anonymous"></script>

<script>
  $(function() {
    $('.navbar-toggler').on('click', function() {
      var $nav = $('#navbarSupportedContent');
      var expanded = $nav.hasClass('show');
      if (expanded) {
        $nav.collapse('hide');
      } else {
        $nav.collapse('show');
      }
    });
  });
</script>
